html, body {
  font-family: monospace;
  background: #FFD524;
}


#textContainer {
  margin: 20px;
  background-color: #ffffff;
  border: 5px solid;
}


#displayContainer {
  width: 2388px;
  height: 872px;
  /*border: 2px solid;*/
}

#toolContainer {
  width: 140px;
  height: 880px;
  margin-left: 20px;
  align-items: center;
  text-align: center;
}
#workContainer {
  height:872px;
  width:2188px;
  margin-left: 20px;
  /*border: 2px solid;*/
}

#styleContainer {
  height:40px;
  width:1540px;
}
#padContainer {
  height: 832px;
  width:2188px;
  /*border: 2px solid;*/
}

#btnContainer {
  width: 850px;
  /*border: 2px solid;*/
}

#canvasContainer {
  width: 1024px;
  height: 832px;
  background:
        -webkit-linear-gradient(top, transparent 63px, blue 64px),
        -webkit-linear-gradient(left, transparent 63px, blue 64px)
        ;
    background-size: 64px 64px;
  border: 2px solid;
}
.flex-start
{justify-content: flex-start}

#transferContainer {
  margin-top: 200px;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 280px;
  /*border: 2px solid;*/
}

#output {
  width: 1024px;
  height: 832px;
  background:
        -webkit-linear-gradient(top, transparent 63px, blue 64px),
        -webkit-linear-gradient(left, transparent 63px, blue 64px)
        ;
    background-size: 64px 64px;
  border: 2px solid;
}

.flex {
  display: flex;
  het: 300px;
  flex-wrap: wrap;
}

.item {
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

button {
  cursor: pointer;
  height: 40px;
  background: #003C9D;
  width:140px;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 18px;
}
input{
  border:0;
  color:#fff;
  cursor:pointer;
  background: #76b5b3;
  font-family: monospace;
  font-size: 18px;
}

input:hover{
  color:#fff;
  background-color: #FC9A24;
}

.pencil {
  cursor: url("images/pencil.png") 0 30, auto;
}

.eraser {
  cursor: url("images/eraser.png") 15 15, auto;
}

.rect {
  cursor: url("images/rect.png") 15 15, auto;
}

.shape {
  cursor: url("images/shape.png") 15 15, auto;
}

.title {
  cursor: url("images/title.png") 15 15, auto;
}


button:hover {
  background-color: #FC9A24;
}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #65889c;
  color: #adacac;
}



