html, body {
  font-family: monospace;
  background: #FFD524;
}

.border-box {
  background: white;
  border-radius: 7px;
  margin: 20px;
}

#textContainer {
  margin: 20px;
  background-color: #ffffff;
  border: 5px solid;
}


#displayContainer {
  width: 1820px;
  height: 720px;
  margin-left: 20px;
}

#toolContainer {
  width: 140px;
  height: 720px;
  margin-left: 20px;
  align-items: center;
  text-align: center;
}
#workContainer {
  height:680px;
  width:1540px;
  margin-left: 20px;
}

#styleContainer {
  height:40px;
  width:1540px;
}
#padContainer {
  height: 512px;
  width:1400px;
}

#btnContainer {
  width: 256px;
}

#canvasContainer {
  width: 512px;
  height: 512px;
}

#transferContainer {
  margin-left: 40px;
  margin-top: 200px;
  align-items: center;
  text-align: center;
  width: 140px;
  height: 280px;
}

#output {
  width: 512px;
  height: 512px;
}

.flex {
  display: flex;
  het: 300px;
  flex-wrap: wrap;
}

.item {
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

button {
  cursor: pointer;
  height: 40px;
  background: #003C9D;
  width:140px;
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 18px;
}
input{
  border:0;
  color:#fff;
  cursor:pointer;
  background: #76b5b3;
  font-family: monospace;
  font-size: 18px;
}

input:hover{
  color:#fff;
  background-color: #FC9A24;
}

.pencil {
  cursor: url("images/pencil.png") 0 30, auto;
}

.eraser {
  cursor: url("images/eraser.png") 15 15, auto;
}

.rect {
  cursor: url("images/rect.png") 15 15, auto;
}

.shape {
  cursor: url("images/shape.png") 15 15, auto;
}

.title {
  cursor: url("images/title.png") 15 15, auto;
}


button:hover {
  background-color: #FC9A24;
}


button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #65889c;
  color: #adacac;
}


